@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.custom-border-color {
  border-color: #e5e7f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* custom */

.slick-prev:before,
.slick-next:before {
  content: none !important; /* Xóa mũi tên mặc định */
}

.li-underline::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background-color: #ff9d04;
}

li {
  cursor: pointer;
}

/* Spinner loader */
.loader {
  position: relative;
  width: 80px;
  height: 16px;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 32px 0 #ff9d04;
  left: 0;
  top: 0;
  animation: ballMoveX 2s linear infinite;
}
.loader:after {
  box-shadow: none;
  transform: translateX(64px) scale(1);
  z-index: 2;
  animation: none;
  animation: trfLoader 2s linear infinite;
}

@keyframes trfLoader {
  0%,
  5% {
    transform: translateX(64px) scale(1);
    background: #FF9D04;
  }
  10% {
    transform: translateX(64px) scale(1);
    background: #ff9d04;
  }
  40% {
    transform: translateX(32px) scale(1.5);
    background: #ff9d04;
  }
  90%,
  95% {
    transform: translateX(0px) scale(1);
    background: #ff9d04;
  }
  100% {
    transform: translateX(0px) scale(1);
    background: #FF9D04;
  }
}
@keyframes ballMoveX {
  0%,
  10% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(32px);
  }
}
